* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
    margin-top: 50px;
    width: 50vw;
    border-radius: 15px;
    padding: 10px;
    background-color: #E2E8CE;
    box-shadow: 1px 1px 2px #262626;
}

body {
    display: flex;
    justify-content: center;
    background-color: #262626;
}

body h1 {
    text-align: center;
    text-transform: uppercase;
}